.gallery
    {display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-between;}
    
    img
    {width: 98%;
    margin-bottom: 10px;}

.redondeado                        
    {border-radius:8px;
    width: 100%;
    height: auto;}  

.tamañoletra
    {font-size: $tipografia-chica;}

.item 
    {width:calc(33.33% - 20px); 
    margin-bottom: 20px;
    text-align: center;
    width: 300px; 
    height: auto;}

/*---Pantallas Medianas---*/
@media (max-width: 768px)
    {.item
        {width: calc(50% - 20px);}}
/*---Pantallas Pequeñas---*/
@media (max-width: 480px)
    {.item
        {width: 100%;}}

    
.image-container
        {position: relative;
        display: block;
    
    img
        {width: 400px; 
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s;}
    
        &:hover 
        {transform: scale(1.02);}}
    
.overlay
        {position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: $color-fondosecundario;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: transform 0.3s ease;
        border-radius: 8px;
        font-family: $tipografia;
        font-size: $tipografia-chica;
        font-style: bold;
        text-align: center;
    
        &:hover 
        {opacity: 1;}}