$color-principal: #1a4a5a;
$color-secundario: #83afa7;
$color-terciario: #25677d;
$color-fondo: white;
$color-fondosecundario: whitesmoke; 
$color-oscuro: black;
$color-sombra: #a3a4a5;

$tipografia: Verdana, Geneva, Tahoma, sans-serif;
$tipografia-grande: 36px;
$tipografia-mediana: 23px;
$tipografia-chica: 14px;